<!DOCTYPE html>
<html>
    <head>
        <title>Student Achievement App</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
        <link rel="stylesheet" type="css/text" href="public/stylessheets/app.css">

        <meta name="viewport" content="width-device-width, initial-scale=1">
    </head>
    <style>
        body{
            background: url('https://images.unsplash.com/photo-1526657782461-9fe13402a841?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTZ8fHdvcmt8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .ui.main.text{
    background-color: rgba(180, 180, 180, 0.5);
  }

  .ui.huge.header{
       color:black;
       font-family:Georgia, 'Times New Roman', Times, serif;
       font-size:x-large;
       font-weight:100;
       font-style:oblique;
   }
   h2{

    color:black;
       font-family:Georgia, 'Times New Roman', Times, serif;
       font-size:x-large;
       font-weight:100;
       font-style:oblique;

   }

   a{
       color: black;
   }

   p{

    color:black;
       font-family:Georgia, 'Times New Roman', Times, serif;
       font-size:medium;
       font-weight:100;
       font-style:oblique;

   }
    </style>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container" >
                <div class="header item"><i class="slideshare icon"></i>Student Achievement App</div>
                <a href="/" class="item"><i class="home icon"></i>Home</a>
                <div class="right menu">
                    <a class="ui item" href="/logout">
                      Logout
                    </a>
                </div>
            </div>
        </div>
        <div id="below navbar">

            <h1>hidden lol</h1>
            <div class="ui main text container segment">
                <!-- <div class="ui main text container"> -->
                    <div class="ui huge header" style="text-align: center;">
                        Student Achievement App
                    </div>
                    <h2>Achievement Details:</h2>
                    <br>
                        <div class="ui top-attached">
                            <div class="item">
                                <ol>
                                        <% achs.forEach(ach => { %> 
                                        <li><div class="content">
                                            <p>Student USN: <%= ach.userid %></p>
                                        </div>
                                        <div class="desciption">
                                            <p>Description: <%= ach.desc %></p>
                                        </div>
                                        <div class="content">
                                            <a href="<%=ach.link%>">Link to Drive folder</a>
                                        </div>
                                        </li>
                                        <br>
                                        <br>
                                        <% }); %>
                                </ol>
                            </div>
                        </div>
                    <a class="ui secondary button" onclick="window.print()" style="margin: 10px 0;">Generate Report</a> 
                <!-- </div> -->






            <%- include("partials/footer") %>