<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Student Landing Page</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="vendor/venobox/venobox.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v2.1.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>
  body{
    background-image: url('./assets/img/g1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  h5{
    color: white;
  }
</style>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

    
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
      
          <li><a href="#about">About</a></li>
         
          <li><a href="#contact">Contact</a></li>

        </ul>
   

    </div>
  </header><!-- End Header -->




  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Welcome!</h2>
          <ol>
            <li><a href="/">Home</a></li>
           
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="gallery">
      <div class="container">
           <div class="row">
               <div class="col-lg-4 mb-4">
                   <div class="card">
                       <img class="card-img-top" src="img/plus.png" alt="">
                       <div class="card-body">
                           <h5 class="card-title">Add/Update Achievement</h5>
                         
                           <a href="" class="btn btn-outline-dark btn-sm">Take me there</a>
                        
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 mb-4">
                   <div class="card">
                       <img class="card-img-top" src="img/minus.png" alt="">
                       <div class="card-body">
                           <h5 class="card-title">Delete Achievement</h5>
                         
                           <a href="" class="btn btn-outline-dark btn-sm">Take me there</a>
                        
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 mb-4">
                   <div class="card">
                       <img class="card-img-top" src="img/gen.png" alt="">
                       <div class="card-body">
                           <h5 class="card-title">Generate Report</h5>
                          
                           <a href="" class="btn btn-outline-dark btn-sm">Take me there</a>
                 
                       </div>
                   </div>
               </div>
           </div>
      </div>
   </section>

  </main><!-- End #main -->

 

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/venobox/venobox.min.js"></script>
  <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="vendor/counterup/counterup.min.js"></script>
  <script src="vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>